<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Contato</title>
    <body>
     <h1><strong><em>Moda Digital</em></strong></h1><br><br><br><br>
    
 <p> <strong>Entre em contato conosco!</strong><br>
      📞Contato:(61) 9 9999-0951<br>
      📧Email:rafaelmelissa3@gmail.com<br>
      📧contato@modadigital.com<br>
      📍Endereço: Av. Principal, Aguas Lindas de Goias - GO<br>
 </p>
    </body>
</html>