<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="style.css">
     <script src="script.js" defer></script>   
    <title>Moda digital</title>
</head>
<body>
  <header>
    <h1>Moda Digital</h1>
       <!-- Lista não ordenada-->
        <nav>
          <li>
                  <a href= "produtos.html" > Produtos   | </a> <!-- Segundo item da lista-->
         
                  <a href= "contato.html"> Contato  </a> <!-- Terceiro item da lista-->
          </li>
        </nav>
  </header>

  <main>
    <section>
    <div class="carrossel">
      <div class="slides">
        <div class="slide">
       <img src="fotos/macacao.jpg" alt="Macacao">
       <h3>O look perfeito para todos os momentos</h3>
       <p>Macacões modernos, confortáveis e cheios de estilo</p>
     </div>

     <div class="slides">
       <img src="fotos/saltoo.jpg" alt="Salto"><br>
       <h3>Elegância em cada passo</h3>
       <p>Encontre o salto perfeito para transformar seu look</p>
     </div>

     <div class="slides">
       <img src="img/bolsa
       .jpg" alt="Bolsa"><br>
       <h3>O acessório que completa seu visual</h3>
       <p>Bolsas para acompanhar todos os seus momentos</p>
     </div>

    </div>
    </div>
  </section>
</main>
      
</body>
</html>