<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>🛍️Moda Digital🛍️</title>
    <style>
        body {
            background-color: pink;
            color: black;
        }   
        main {
            background-color: pink;
            color: black;
        }
    </style>
</head>
<body>
     <header> 
     <h1>🛍️Moda Digital – Onde a moda encontra a elegância.🛍️</h1>
     <hr>

    <nav> <!-- Área destinada ao menu navegação do nosso site-->
         <ul> <!-- Lista não ordenada-->

          <li>
                  <a href= "produtos.html" > Produtos </a> <!-- Segundo item da lista-->
          </li>
         
          <li>
                  <a href= "contato.html"> Contato </a> <!-- Terceiro item da lista-->
          </li>
    </nav>
    </header>
    <main>
     <section>
    <h2>Bem-vindo à Moda Digital</h2>
    <hr>
    <p>
        Na Moda Digital você encontra macacões, bolsas,
        scarpins e sandálias selecionados para quem busca
        elegância, qualidade e sofisticação em cada detalhe.
    </p>
     <!--Conteúdo Principal da tela-->

      
        <section> <!--Primeira Seção da Página-->
              <h2><strong>O futuro da moda está a um clique. <br>Mais que roupas, uma experiência digital de estilo.<br></strong></h2>

    

              <p> Seu estilo merece mais do que o básico. Encontre peças que unem elegância, personalidade e as principais tendências da moda para destacar quem você é. Chegou a hora de renovar seu guarda-roupa com confiança</p>
        
              <a href="produtos.html"> Ver ofertas </a> <!--Botão em formato de link-->

        </section>
         <div style="text-align:center;">
         <img src="" style="width:800px;">
         </div>
        <section>
            <h2>Ofertas da semana</h2>

            <article> <!--A tag article é um conteúdo independente-->
             <h3><i>💥COMPRE 2 E GANHE DESCONTO EXCLUSIVO<i></h3>   
            <h3><i>🛍️ NOVA COLEÇÃO COM PREÇOS ESPECIAIS</i></h3>

           <p>🚨 É AGORA: ofertas que você não pode perder!<p>
            <p>Promoção válida até 
              <mark> 30 de Julho </mark>
              </p>

            <p>
                 <small> Compras acima de 149,90 Frete Grátis</small>
            </p>
           
            <p>
                Looks <sup>novos</sup> chegaram!      
            </p>   
           
            <p>
               <abbr title="Desconto">DESC</abbr> até 50%
            </p>

           <button type ="button">
                   Adicionar as Carrinho
           </button>
            </article>

            <p> 💖 Moda <em>feminina</em> 
                com estilo, 
                qualidade e preço justo!
            </p>

            <p>
              ⚡ Últimas peças disponíveis 
              (<sub>estoque reduzido</sub>)
            </p>  
             
             <p>
                🔥 <abbr title="Ofertas Imperdíveis">O.I.</abbr>
             </p> 
             
            <button type=button">
              Adicionar ao carinnho
            </button>  
        </article>
    </section> 
</main>

<footer>
            
 <address>
  👗Moda Digital<br>
  Av. Principal<br>
  Aguas Lindas de Goias - GO<br>
  📞 (61) 9999-0951<br>
  ✉ rafaelmelissa3@gmail.com
</address>           
  <p>
    <small>
        &copy; 2026 Moda Digital. Todos os direitos Reservados
    </small>
   
</p>  
</body>
</html>