<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>🛍️Moda Digital🛍️</title>
</head>
<body>
 <header> 
     <h1>✨Moda Digital✨</h1>
     <hr>
     
    
    <nav> <!-- Área destinada ao menu navegação do nosso site-->
         <ul> <!-- Lista não ordenada-->
          <li> <!-- Primeiro item da lista-->
                <a href="#" > ✔️ Elegante </a> <!-- Link para a página Inicial-->
             <!-- O "#" indica que o link ainda não possui um destino definido-->
          </li>

          <li>
                  <a href= "#" >✔️ Sofisticado </a> <!-- Segundo item da lista-->
          </li>
         
          <li>
                  <a href= "#"> ✔️ Atemporal </a> <!-- Terceiro item da lista-->
          </li>
          </ul>
    </nav>
    
</section>
    <main>
        <section> 
        <h2 style="text-align:center;">🤎✨ MACACÃO PANTALONA EM LINHO</h2> 
        <div style="display: flex; gap: 20px;">

    <div>
         <img src="C:\Users\melissa64885286\Documents\dev1\modadigital\membros\static\img\macacaomarrom.jpeg" style="width:300px;">
         <h3> Macacão Caramelo com Zíper</h3>
         <p>Elegância e conforto em um só look. Modelo com zíper frontal, faixa para amarração e bolsos funcionais.✨.<br>
         Tamanhos disponíveis: P • M • G • GG</p>   
        <p><del><strong>De <mark>399,90 R$</mark></del><br>Por <ins>249,90 R$</strong></ins></p>
    <button class type ="button">
                   Adicionar ao Carrinho    
    </button>
       <br>
       <br>
     <button type ="button">
                   Comprar   
    </button>
    </div>

    <div>
         <img src="C:\Users\melissa64885286\Documents\dev1\modadigital\membros\static\img\macacoazul.jpeg" style="width:366px;">
         <h3>Macacão Azul Claro com Laços</h3>
         <p>Delicado e sofisticado, com alças de laço e caimento impecável.Perfeito para um visual leve e eleganteocasiões✨.<br>
         Tamanhos disponíveis: P • M • G • GG</p>
        <p><del>De <mark>199,90 R$</mark></del><br>Por <ins>149,90 R$</ins></p>
       <button class type ="button">
                   Adicionar ao Carrinho    
       </button>
           <br>
           <br>
       <button type ="button">
                   Comprar   
       </button>
    </div>

    <div>
        <img src="C:\Users\melissa64885286\Documents\dev1\modadigital\membros\static\img\macacaorosa.jpeg" style="width:383px;">
         <h3>Macacão Rosê Decote V</h3>
         <p>Modelo moderno com decote V e calça pantalona, valorizando a silhueta com muito charme e sofisticação✨.<br>
         Tamanhos disponíveis: P • M • G • GG</p>
        <p><del>De <mark>249,90 R$</mark></del><br>Por <ins>199,90 R$</ins></p>
        <button class type ="button">
                   Adicionar ao Carrinho    
       </button>
           <br>
           <br>
       <button type ="button">
                   Comprar   
       </button>
    </div>

   <div>
        <img src="C:\Users\melissa64885286\Documents\dev1\modadigital\membros\static\img\macacaoroxo.jpeg" style="width:457px;">
        <h3>Macacão Verde Transpassado</h3>
         <p>Macacão elegante com decote transpassado, detalhe de cinto e modelagem ampla. Ideal para um look refinado✨.<br>
         Tamanhos disponíveis: P • M • G • GG</p>
        <p><del>De<mark> 149,90 R$</mark></del><br>Por <ins>99,90 R$</ins></p>
        <button type ="button">
                   Adicionar ao Carrinho    
       </button>
           <br>
           <br>
       <button type ="button">
                   Comprar   
       </button>
    </div>

    <div>
         <img src="C:\Users\melissa64885286\Documents\dev1\modadigital\membros\static\img\macacaoverde.jpeg" style="width:387px;">
         <h3>Macacão Marsala com Babados</h3>
         <p> Modelo sofisticado com alças de babado, cintura marcada e calça pantalona. Elegante para qualquer ocasião.<br>
         Tamanhos disponíveis: <strong>P • M • G • GG</strong></p>
          <p><del>De <mark>149,90 R$</mark></del><br>Por <ins>99,90 R$</ins></p>
           <button type ="button">
                   Adicionar ao Carrinho    
       </button>
           <br>
           <br>
       <button type ="button">
                   Comprar   
       </button>
    </div>
    </div>
    <section>


          <section>
                <hr><h2 style="text-align:center;">👠SCARPINS & SALTOS FEMININOS</h2><hr>
          </section>
               <div style="display: flex; gap: 20px;">
             
       
       <div>
         <img src="C:\Users\melissa64885286\Documents\dev1\modadigital\membros\static\img\scarpinpreto.jpeg" style="width:392px;">
         <h3>Scarpin Preto Premium</h3>
         <p>Scarpin preto premium, elegante e sofisticado, <br>acabamento impecável e salto <br>confortável para destacar qualquer produção.<br>
         Tamanhos: 34, 35, 36, 37, 38 e 39.</p>
        <p><del>De <mark>549,90 R$</mark></del><br>Por <ins>499,90 R$</ins></p>
        <button type ="button">
                   Adicionar ao Carrinho    
       </button>
           <br>
           <br>
       <button type ="button">
                   Comprar   
       </button>
       </div>

         <div>
         <img src="C:\Users\melissa64885286\Documents\dev1\modadigital\membros\static\img\scarpinmarromclaro.jpeg" style="width:370px;">
         <h3> Scarpin Bege Premium</h3>
         <p>Scarpin bege premium, elegante e sofisticado, <br>acabamento impecável e salto <br>confortável para destacar qualquer produção.<br>
         Tamanhos: 34, 35, 36, 37, 38 e 39.</p>
    
         <p><del>De <mark>499,90 R$</mark></del><br>Por <ins>349,90 R$</ins></p>
       <button type ="button">
                   Adicionar ao Carrinho    
       </button>
           <br>
           <br>
       <button type ="button">
                   Comprar   
       </button>
       </div>
           
          <div>
         <img src="C:\Users\melissa64885286\Documents\dev1\modadigital\membros\static\img\scarpinbranco.jpeg" style="width:363px;">
         <h3>Scarpin Branco Premium</h3>
         <p>Scarpin branco premium, elegante e sofisticado, <br>acabamento impecável e <br>salto confortável para destacar qualquer produção.<br>
         Tamanhos: 34, 35, 36, 37, 38 e 39.</p>
        <p><del>De<mark> 449,90 R$</mark></del><br>Por <ins>399,90 R$</ins></p>
        <button type ="button">
                   Adicionar ao Carrinho    
       </button>
           <br>
           <br>
       <button type ="button">
                   Comprar   
       </button>
       </div>  
          
            <div>
         <img src="C:\Users\melissa64885286\Documents\dev1\modadigital\membros\static\img\saltopreto.jpeg" style="width:375px;">
         <h3>Sandália Salto Preta</h3>
         <p>Sandália preta de salto, design moderno e sofisticado, <br>perfeita para ocasiões especiais<br> com conforto e muito estilo.<br>
         Tamanhos: 34, 35, 36, 37, 38 e 39.</p>
        <p><del>De <mark>259,90 R$</mark></del><br>Por <ins>199,90 R$</ins></p>
        <button type ="button">
                   Adicionar ao Carrinho    
       </button>
           <br>
           <br>
       <button type ="button">
                   Comprar   
       </button>
       </div>  
  
          <div>
         <img src="C:\Users\melissa64885286\Documents\dev1\modadigital\membros\static\img\sandaliabranca.jpeg" style="width:335px;">
         <h3>Sandália Branca com Pedras</h3>
         <p>Sandália branca com pedras, acabamento refinado e brilho elegante, ideal para valorizar qualquer look com sofisticação.<br>
         Tamanhos: 34, 35, 36, 37, 38 e 39.</p>
        <p><del>De <mark>249,90 R$</mark></del><br>Por <ins>199,90 R$</ins></p>
        <button type ="button">
                   Adicionar ao Carrinho    
       </button>
           <br>
           <br>
       <button type ="button">
                   Comprar   
       </button>
       </div>  
        </div>
        </section>

          <section>
                <hr><h2 style="text-align:center;">BOLSAS ELEGANTES👜</h2><hr>
          </section>
               <div style="display: flex; gap: 20px;">

        <div>
         <img src="C:\Users\melissa64885286\Documents\dev1\modadigital\membros\static\img\bolsamarromce.jpeg" style="width:360px;">
         <h3>Bolsa Bege Clássica</h3>
         <p>Bolsa elegante em tom bege com acabamento refinado <br>e alças resistentes. Ideal para looks casuais ou sociais, unindo charme e praticidade. <br>Tamanho: Médio (28 × 22 × 12 cm).</p>
        <p><del>De <mark>249,90 R$</mark></del><br>Por <ins>199,90 R$</ins></p>
        <button type ="button">
                   Adicionar ao Carrinho    
       </button>
           <br>
           <br>
       <button type ="button">
                   Comprar   
       </button>
       </div>
 
        <div>
         <img src="C:\Users\melissa64885286\Documents\dev1\modadigital\membros\static\img\bolsaazul.jpeg" style="width:400px;">
         <h3>Bolsa Azul Marinho</h3>
         <p>Modelo sofisticado em azul-marinho com design moderno e amplo espaço interno. Perfeita para quem busca elegância e versatilidade. <br>Tamanho: Médio (30 × 24 × 13 cm).</p>
        <p><del>De <mark>249,90 R$</mark></del><br>Por <ins>199,90 R$</ins></p>
        <button type ="button">
                   Adicionar ao Carrinho    
       </button>
           <br>
           <br>
       <button type ="button">
                   Comprar   
       </button>
       </div>
         
        <div>
         <img src="C:\Users\melissa64885286\Documents\dev1\modadigital\membros\static\img\bolsinhapreta.jpeg" style="width:350px;">
         <h3>Bolsa Preta Transversal</h3>
         <p>Bolsa preta com corrente dourada e acabamento premium, oferecendo um visual sofisticado para qualquer ocasião. <br>Tamanho: Pequeno (24 × 18 × 10 cm).</p>
        <p><del>De <mark>249,90 R$</mark></del><br>Por <ins>199,90 R$</ins></p>
        <button type ="button">
                   Adicionar ao Carrinho    
       </button>
           <br>
           <br>
       <button type ="button">
                   Comprar   
       </button>
       </div> 

       <div>
         <img src="C:\Users\melissa64885286\Documents\dev1\modadigital\membros\static\img\bolsa.jpg" style="width:358px;">
         <h3>Bolsa Nude Estruturada</h3>
         <p>Bolsa estruturada em tom nude com detalhes metálicos elegantes e excelente espaço interno para o dia a dia.<br> Tamanho: Médio (28 × 22 × 12 cm).</p>
        <p><del>De <mark>249,90 R$</mark></del><br>Por <ins>199,90 R$</ins></p>
        <button type ="button">
                   Adicionar ao Carrinho    
       </button>
           <br>
           <br>
       <button type ="button">
                   Comprar     
       </button>
       </div>

        <div>
         <img src="C:\Users\melissa64885286\Documents\dev1\modadigital\membros\static\img\bolsa.jpg" style="width:357px;">
         <h3>Bolsa Branca Minimalista</h3>
         <P>Bolsa branca de design clean e acabamento delicado, perfeita para compor produções modernas e elegantes. <br>Tamanho: Médio (27 × 20 × 11 cm).</p>
        <p><del>De <mark>249,90 R$</mark></del><br>Por <ins>199,90 R$</ins></p>
        <button type ="button">
                   Adicionar ao Carrinho    
       </button>
           <br>
           <br>
       <button type ="button">
                   Comprar     
       </button>
       </div>
       </div>  
       </section> 

     <br><br><br>


    <section>
        <h2>Avaliações dos Clientes</h2>

        <h3>👗 Macacões</h3>
        <blockquote>
            ⭐⭐⭐⭐⭐ <br>
            "Caimento perfeito, tecido de ótima qualidade e muito confortável."
        </blockquote>

        <h3>👜 Bolsas</h3>
        <blockquote>
            ⭐⭐⭐⭐⭐ <br>
            "Material excelente e acabamento impecável."
        </blockquote>

        <h3>👠 Scarpins e Saltos</h3>
        <blockquote>
            ⭐⭐⭐⭐⭐ <br>
            "Muito confortável e elegante. Recomendo!"
        </blockquote>
    </section>

</main>

<footer>
    <p>&copy; 2026 Moda Digital. Todos os direitos reservados.</p>
    <p>📧 contato@modadigital.com</p>
    <p>📞 (61) 99999-0951</p>
</footer>
</body>
</html>